<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twala T Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="../css/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/aos.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet"/>
    <noscript>
              <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    </head>
    <body class="bg-light" id="top">
    <div class="page-container">
        <div class="container">
            <div class="resume-container">
        <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
        <h1 class="site-title mb-0" style="text-align: left; margin-left: 10%">Twala Thembinkosi E</h1>
            <div class="site-nav">
                <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link" href="index.html" title="Home"><span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="About.html" title="About"><span class="menu-title">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Education And Skills.html" title="Education And Skills"><span class="menu-title">Education And Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Contact.html" title="Contact"><span class="menu-title">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                 <a class="nav-link" href="Projects.html" title="Projects"><span class="menu-title">Portfolio</span>
                        </a>
                    </li>
                         <li class="nav-item">
                 <a class="nav-link" href="Gallery.html" title="Gallery"><span class="menu-title">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" href="Reference.html" title="reference"><span class="menu-title">References</span>
                   </a>
               </li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </header>
      <div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section" data-aos="fade-in" data-aos-delay="0">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
          <p>Hello! I’m Thembinkosi Twala. I am passionate about Systems Development and Web Design. I have skills under
            <strong>front-end and back-end development</strong>.I’m self-motivated, adaptable candidate seeking for position within an organization.
            I am organized and capable of working under pressure.
            <br/>   <br/>I have a clear logical mind and idealistic person with practical approach to problem solving and drive to see things through to completion.
            I enjoy working on my own initiative also in a team. In short, I’m attention to detail, ability to prioritize. I am reliable, trustworthy, hardworking, creative and eager to learn and have a genuine interest in IT. 
            I am a person with ethics and who value education mostly. I am a quick learner and a team worker who gets the job done.</p>
          <p>I quickly maximize timely deliverables for real-time schemas.
            I have good time management skills
            as well as excellent communication skills. I have the ability to prioritize.</p>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-font-awesome-flag"></i>Nationality</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">South African</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fa fa-mars" style="width:24px;opacity:0.85;"></i>Gender</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">Male</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i>Age</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">28</div>
            </div>

            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>Email</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">ttwalaskhandisa@gmail.com</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">+27 68 340 1237</div>
            </div>
            <!--<div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-facebook pe-2 text-muted"></i><span class="menu-title sr-only" >Facebook</span></div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook"> Facebook</a></div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-linkedin pe-2 text-muted"></i><span class="menu-title sr-only" >LinkedIn</span></div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">LinkedIn</a></div>
            </div>-->
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">108 QueensBurry 338 Bree Street Off Nugget Street, , Johanneburg 2001</div>
            </div>
              <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
        </div>
        <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
        <div class="my-3">
          <div class="h4">Thembinkosi E Twala</div>
            <div class="footer-nav">
            <nav role="navigation">
                <ul class="nav justify-content-center">
                      <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook">
                          <i class="fab fa-facebook"></i><span class="menu-title sr-only" >Facebook</span>
                          </a></li>
                       <li class="nav-item">
                      <a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">
                          <i class="fab fa-linkedin"></i><span class="menu-title sr-only" >LinkedIn</span>
                          </a></li>
                      </ul>
                </nav>
            </div>
            </div>
            <div class="text-small">
          <div class="mb-1">&copy;Cairo Clothing TT Brands .  All rights reserved.</div>
        </div>
            </div>
        </footer>
        <script src="../scripts/mdb.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/main.js"></script>
        
    </body>
</html>
