<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twala T Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="../css/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/aos.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <noscript>
              <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    </head>
   <body class="bg-light" id="top">
       <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
        <h1 class="site-title mb-0" style="text-align: left; margin-left: 10%">Twala Thembinkosi E</h1>
            <div class="site-nav">
                <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link" href="index.html" title="Home"><span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="About.html" title="About"><span class="menu-title">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Education And Skills.html" title="Education And Skills"><span class="menu-title">Education And Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Contact.html" title="Contact"><span class="menu-title">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                 <a class="nav-link" href="Projects.html" title="Projects"><span class="menu-title">Portfolio</span>
                        </a>
                    </li>
                         <li class="nav-item">
                 <a class="nav-link" href="Gallery.html" title="Gallery"><span class="menu-title">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" href="Reference.html" title="reference"><span class="menu-title">References</span>
                   </a>
               </li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </header>
        <div class="page-container">
        <div class="container">
            <div class="resume-container">
                  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="zoom-in" data-aos-delay="0">
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> +27 68 340 1237 </div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>ttwalaskhandisa@gmail.com</div>
          </div>
          <div class="mt-5 d-print-none"><form method="POST" enctype="text/plain" >
  <div class="form-outline mb-4">
    <input type="text" id="name" class="form-control" required/>
    <label class="form-label" for="name">Name</label>
  </div>
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" required/>
    <label class="form-label" for="email">Email address</label>
  </div>
  <div class="form-outline mb-4">
    <textarea class="form-control" style="resize: none;" id="message" rows="4" required></textarea>
    <label class="form-label" for="message">Message</label>
  </div>
  <button id="sendmsg" class="btn btn-info btn-block mb-4" type="submit" onclick="sendEmail()">Send</button>
</form>
          </div>
        </div>
        <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100">
          <iframe src="https://maps.google.com/maps?q=338%20hillbrow%20johanneburg&t=&z=13&ie=UTF8&iwloc=&output=embed" width="500" height="400" style="border:solid ;width:100%;" allowfullscreen="" loading="lazy">
          </iframe></div>
      </div>
    </div>
  </div>

            </div>
            </div>
       </div>
              <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
        <div class="my-3">
          <div class="h4">Thembinkosi E Twala</div>
            <div class="footer-nav">
            <nav role="navigation">
                <ul class="nav justify-content-center">
                      <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook">
                          <i class="fab fa-facebook"></i><span class="menu-title sr-only" >Facebook</span>
                          </a></li>
                       <li class="nav-item">
                      <a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">
                          <i class="fab fa-linkedin"></i><span class="menu-title sr-only" >LinkedIn</span>
                          </a></li>
                      </ul>
                </nav>
            </div>
            </div>
            <div class="text-small">
          <div class="mb-1">&copy;Cairo Clothing TT Brands .  All rights reserved.</div>
        </div>
            </div>
        </footer>
        <script src="../scripts/mdb.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/main.js"></script>
       <script src="../scripts/send.js"></script>
       <script src="https://smtpjs.com/v3/smtp.js"></script>
       
    </body>
</html>
