<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twala T Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="../css/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/aos.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <noscript>
              <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    </head>
    <body class="bg-light" id="top">
    <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
        <h1 class="site-title mb-0" style="text-align: left; margin-left: 10%">Twala Thembinkosi E</h1>
            <div class="site-nav">
                <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link" href="index.html" title="Home"><span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="About.html" title="About"><span class="menu-title">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Education And Skills.html" title="Education And Skills"><span class="menu-title">Education And Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Contact.html" title="Contact"><span class="menu-title">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                 <a class="nav-link" href="Projects.html" title="Projects"><span class="menu-title">Portfolio</span>
                        </a>
                    </li>
                         <li class="nav-item">
                 <a class="nav-link" href="Gallery.html" title="Gallery"><span class="menu-title">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" href="Reference.html" title="reference"><span class="menu-title">References</span>
                   </a>
               </li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </header>
        <div class="page-container">
        <div class="container">
            <div class="resume-container">
                <div class="shadow-1-strong bg-white my-5" id="intro">
                 <div class="cover bg-image"><img src="../images/header-background.jpg"/>
                     <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
          <div class="text-center p-5">
              <div class="avatar p-1">
              <img class="img-thumbnail shadow-2-strong" src="../images/pro.jpg" width="160" height="160"/>
              </div>
               <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">

              <h2 class="h1" style="color: aliceblue">Thembinkosi E Twala</h2>
                  <p style="color: aliceblue">Front &amp; Back-End Developer</p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                  <nav role="navigation">
                  <ul class="nav justify-content-center">
                      <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook">
                          <i class="fab fa-facebook" style="color: aliceblue"></i><span class="menu-title sr-only" >Facebook</span>
                          </a></li>
                       <li class="nav-item">
                      <a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">
                          <i class="fab fa-linkedin" style="color: aliceblue"></i><span class="menu-title sr-only" >LinkedIn</span>
                          </a></li>
                      </ul>
                  </nav>
                  <div class="d-print-none">
                    <a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="../cv/TwalaTE-CV.pdf" data-aos="fade-right" data-aos-delay="700">Download CV</a>
                      <a class="btn btn-info btn-lg shadow-sm mt-1" href="Contact.html" data-aos="fade-left" data-aos-delay="700">Hire Me</a>
                  </div>
              </div>
              </div>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
        <div class="my-3">
          <div class="h4">Thembinkosi Twala</div>
            <div class="footer-nav">
            <nav role="navigation">
                <ul class="nav justify-content-center">
                      <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook">
                          <i class="fab fa-facebook"></i><span class="menu-title sr-only" >Facebook</span>
                          </a></li>
                       <li class="nav-item">
                      <a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">
                          <i class="fab fa-linkedin"></i><span class="menu-title sr-only" >LinkedIn</span>
                          </a></li>
                      </ul>
                </nav>
            </div>
            </div>
            <div class="text-small">
          <div class="mb-1">&copy;Cairo Clothing TT Brands . All rights reserved.</div>
        </div>
            </div>
        </footer>
        <script src="../scripts/mdb.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/main.js"></script>
    </body>
</html>
