<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twala T Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="../css/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/aos.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <noscript>
              <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    </head>
    <body class="bg-light" id="top">
    <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
        <h1 class="site-title mb-0" style="text-align: left; margin-left: 10%">Twala Thembinkosi E</h1>
            <div class="site-nav">
                <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link" href="index.html" title="Home"><span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="About.html" title="About"><span class="menu-title">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Education And Skills.html" title="Education And Skills"><span class="menu-title">Education And Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Contact.html" title="Contact"><span class="menu-title">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                 <a class="nav-link" href="Projects.html" title="Projects"><span class="menu-title">Portfolio</span>
                        </a>
                    </li>
                         <li class="nav-item">
                 <a class="nav-link" href="Gallery.html" title="Gallery"><span class="menu-title">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" href="Reference.html" title="reference"><span class="menu-title">References</span>
                   </a>
               </li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </header>
        <div class="page-container">
        <div class="container">
            <div class="resume-container">
               <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
    <div class="portfolio-section">
      <h2 class="h2 fw-light mb-4" style="text-align:center">Portfolio-Projects</h2>
      <div class="row g-0">

        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Front-end / Back-end /c# /SQL </p>
            <h3>Sport Management System</h3>
            <p class="text-muted">Built A sport management system front end and back end. Delivered codebase in c#, SQL</p>
          </div>
        </div>
        <div class="col-md-6"><a href="#" target="_blank">
            <a><img class="img-fluid" src="../images/CScode1.png" width="500" height="300"/></a>
          </div>
      </div>
        <hr/>
             <div class="row g-0">
        <div class="col-md-6"><a href="#" target="_blank">
            <img class="img-fluid" src="../images/javaATMSys.png" width="500" height="300"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small"> Java </p>
            <h3>ATM System</h3>
            <p class="text-muted">Built A Short back end <span>ATM System project </span>. Delivered codebase in Java</p>
          </div>
        </div>
      </div>
              <hr/>
             <div class="row g-0">

        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small"> html / css / Javascript  </p>
            <h3>Profile website</h3>
            <p class="text-muted">Built A Short front &amp; back end <span>Profile Website </span>. Delivered codebase in html, css &amp; Javascript</p>
          </div>
        </div>
        <div class="col-md-6"><a href="#" target="_blank">
            <img class="img-fluid" src="../images/Html Projects.png" width="500" height="300"/></a></div>
      </div>
    </div>
  </div>
            </div>
            </div>
        </div>
               <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
        <div class="my-3">
          <div class="h4">Thembinkosi E Twala</div>
            <div class="footer-nav">
            <nav role="navigation">
                <ul class="nav justify-content-center">
                      <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/thembinkosi.twala.7" title="Facebook">
                          <i class="fab fa-facebook"></i><span class="menu-title sr-only" >Facebook</span>
                          </a></li>
                       <li class="nav-item">
                      <a class="nav-link" href="https://za.linkedin.com/in/thembinkosi-twala-444277126" title="LinkedIn">
                          <i class="fab fa-linkedin"></i><span class="menu-title sr-only" >LinkedIn</span>
                          </a></li>
                      </ul>
                </nav>
            </div>
            </div>
            <div class="text-small">
          <div class="mb-1">&copy;Cairo Clothing TT Brands .  All rights reserved.</div>
        </div>
            </div>
        </footer>
        <script src="../scripts/mdb.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/main.js"></script>
 </body>
</html>
